/*********************** Custom CSS for Boost Filter & Search  ************************/






/**************************** Place your custom css below  ****************************/

.boost-pfs-search-no-result-body .collection__toolbar {
	display: none;
}
.boost-pfs-search-no-result-body .boost-pfs-filter-right-col {
	padding: 0;
}
.boost-pfs-most-popular .boost-pfs-product-slider {
	width: 100%;
	max-width: 100%;
	position: relative;
	margin-left: 0px;

	border-right: 1px solid var(--border-color);
}
.boost-pfs-most-popular .boost-pfs-product-slider:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	border-left: 1px solid var(--border-color);
	z-index: 2;
}
.boost-pfs-product-slider-item-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	width: 100%;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	z-index: 1;
}
.boost-pfs-search-no-result-body .boost-pfs-filter-bottom-pagination {
	display: none;
}

.search-bar__inner {
	display: none;
}

.boost-pfs-search-suggestion-wrapper {
	position: fixed;
}

.boost-pfs-search-suggestion-item:hover {
	color: #5c5b59;
	background-color: rgba(10, 10, 10, 0.08);
}

.boost-pfs-filter-breadcrumb.hidden {
	display: none;
}

.boost-pfs-filter-message {
	margin: 0 auto;
}

.search-bar__filter {
	display: none !important;
}

.boost-pfs-filter-scroll-to-top {
	z-index: 1;
}

.boost-pfs-in-collection-search {
	padding: 0 20px;
}

.boost-pfs-in-collection-search-button {
	padding: 8px 20px !important;
}

.boost-pfs-in-collection-search-clear {
	padding: 8px !important;
}

/**** Custom Search result toolbar ****/
.boost-pfs-search-result-toolbar {
	display: flex;
	align-items: center;
	margin: 35px 0;
	border: 1px solid #e1e3e4;
	padding: 0 30px;
	border-radius: 3px;
	white-space: nowrap;
	background: #fff;
}
.boost-pfs-search-result-toolbar .boost-pfs-search-result-item:first-child {
	flex: auto;
}
.boost-pfs-search-result-toolbar .boost-pfs-search-result-panel-controls {
	padding: 17px 0;
	margin: 0;
}
.boost-pfs-filter-tree-vertical-style-off-canvas:not(.boost-pfs-filter-tree-horizontal-style-expand) .boost-pfs-filter-left-col .card__section {
	padding: 0;
}
#shopify-section-header:after {
	display: table;
	content: "";
	clear: both;
}
.boost-pfs-search-result-wrap {
	background: #fff;
	border: 1px solid #e1e3e4;
	padding: 30px 0 0 0;
	border-radius: 3px;
}
.boost-pfs-search-result-wrap .boost-pfs-search-result-list-item {
	padding: 30px;
}
.boost-pfs-search-result-wrap .pagination {
	padding: 20px 30px;
}
.search-bar__inner {
	display: none !important;
}

@media (min-width: 768px) {
	.boost-pfs-filter-tree-vertical-style-off-canvas:not(.boost-pfs-filter-tree-horizontal-style-expand) .boost-pfs-filter-left-col {
		border: none;
	}
	.boost-pfs-filter-wrapper {
		display: block;
		margin: 0;
		position: relative;
	}
	.boost-pfs-filter-left-col {
		padding-right: 30px;
		margin: 0;
	}

	.boost-pfs-filter-right-col {
		margin: 0;
		padding-left: 15px;
	}
	.boost-pfs-filter-tree-vertical-style-off-canvas:not(.boost-pfs-filter-tree-horizontal-style-expand) .boost-pfs-filter-right-col {
		width: 100%;
		margin: 0;
	}
	.boost-pfs-filter-stick.boost-pfs-filter-tree-desktop-button-sticky-wrapper {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 0 15px;
	}
	.boost-pfs-filter-left-col {
		padding: 20px 25px;
		border: 1px solid var(--border-color);
		background: #fff;
	}

	.boost-pfs-filter-stick.boost-pfs-filter-tree-h-wrapper, .boost-pfs-filter-stick.boost-pfs-filter-tree-h, .boost-pfs-filter-stick.boost-pfs-filter-tree-desktop-button-sticky-wrapper {
		z-index: 4;
	}
}

@media (max-width: 767px) {
	.boost-pfs-filter-right-col {
		padding-left: 0;
	}
	.boost-pfs-search-result-toolbar .boost-pfs-search-total-result {
		display: none;
	}
	.boost-pfs-filter-tree-mobile-button button {
		background: none;
		color: inherit;
		margin: 0;
		text-transform: capitalize;
	}
	.boost-pfs-filter-tree-mobile-button button svg {
		margin-right: 7px;
	}
	.collection__dynamic-part .boost-pfs-filter-tree-mobile-button button,
	.collection__dynamic-part .boost-pfs-filter-top-sorting-mobile button {
		background: none !important;
		color: inherit !important;
	}
	.boost-pfs-filter-tree-button-sticky-wrapper-body .header--search-expanded {
		margin-bottom: 0;
	}
	.boost-pfs-filter-tree-desktop-button-sticky-wrapper {
		margin-top: 0;
		position: relative;
		top: auto;
	}
	.collection__toolbar {
		z-index: 4;
	}
	.boost-pfs-filter-mobile-style1-body.boost-pfs-filter-tree-button-stick-wrapper-body.boost-pfs-filter-tree-open-body .boost-pfs-filter-mobile-style1 {
		top: 42px;
	}
	.boost-pfs-filter-stick:not(.boost-pfs-filter-tree-v).boost-pfs-filter-tree-mobile-button-stick-wrapper {
		z-index: 2;
	}
	.boost-pfs-most-popular, .boost-pfs-recently-viewed {
		padding-left: 0;
		padding-right: 0;
	}
	.ProductItem__Rating .rating__star {
		width: 11px;
		height: 11px;
	}
  .boost-pfs-filter-mobile-style1-body.boost-pfs-filter-tree-button-stick-wrapper-body.boost-pfs-filter-tree-open-body .boost-pfs-filter-mobile-style1 {
    top: 66px;
  }
 .boost-pfs-filter-mobile-style1-body:not(.boost-pfs-filter-tree-button-stick-wrapper-body).boost-pfs-filter-tree-open-body .boost-pfs-filter-mobile-style1 {
    margin-top: 20px;
  }
}

.collection__layout-button:last-child {
	margin-left: 15px;
}

.boost-pfs-variants-display [data-section-type="recently-viewed-products"] {
	display: none !important;
}
.mobile-menu {
	z-index: 3;
}
.boost-pfs-filter-products {
	margin-bottom: -1px;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}
.boost-pfs-filter-btn-load-previous-page {
	margin-top: 20px;
}